<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-subtitle">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>

      <div class="hero-wrp-buttons">
        <button class="button" type="button">Get started</button>
        <button class="hero-btn" type="button">
          <span class="hero-btn-icon"></span>Watch the Video
        </button>
      </div>
    </div>
    <img
      class="hero-img"
      src="/img/hero/hero.svg"
      width="610"
      height="555"
      alt="people"
    />
  </div>
</section>
